body{margin:0px}

h1{color:brown;}
header{background-color: chartreuse;
height: 56px;
border-top: 4px dotted brown;
border-left:4px solid darkgrey;
border-right:4px solid darkgrey;
margin-top: 9px;
margin-bottom:8px;
padding-left:76px
}
div{background-color: coral;
height: 56px;
border: 4px solid green;
padding-left: 89px;}